*{
    margin: 0;
}
html{
    overflow-x: hidden;
}

/*Background*/
.backgroundSheet{
   background-image: radial-gradient( at top left, rgb(63, 64, 69), #15192e,black);
    width: 100%;
    height: 100%;
   position: fixed;
}
.container{
    width: 100vw;
    height:110vh;
}



/*Aside name*/
#positionSide{
    position: absolute;
    bottom: 20%;
    right: 5%;
    animation: container 3.2s;
}
#side{
    color: white;
    text-shadow: 2px 2px solid black;
    transform: rotate(270deg);
}

/*Introductory texts*/
.LogoCenter{
    color: white;
    position: absolute;
    left: 25%;
    top: 40%;
    font-size:7vw;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
    white-space: nowrap;
}
.middleCenterName{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    font-family: sans-serif;
    font-size: 2vw;
}
.topCenterName{
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 35%;
    left: 16%;
    font-size: 2vw;
}
.bottomCenterName{
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 65%;
    left: 55%;
    font-size: 2vw;
}







/*Auxiliary animation*/
@keyframes container{
    0%{ opacity: 0;}
    99%{opacity: 0;}
    100%{ opacity: 1;}
} 







/*Scroll bar*/
::-webkit-scrollbar-track {
    background-color: #070707;
}
::-webkit-scrollbar {
    width: 6px;
    background: #3b3b3b;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
}


/*Container with text*/
.containerBodyText p{
    width: 100%;
    height: 100px;
}
.containerBodyText{
    animation: container 3.0s;
    position: relative;
    font-family: sans-serif; 
    font-size: 30px;
    text-align: center;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}






/*Container with contact and the form*/
#container_contact_text{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap: 50px;
    justify-content: center;
    margin-top: 100px;
}
.flex{
    animation: container 3.0s;
    width: 100%;
    position: relative;
    display: flex;
}
.contact_text{
    text-align: center;
    padding-left: 150px;
    padding-right: 100px;
    color: white;
    margin-top: 50px;
}
.contact_form{
    width: 110%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    color: white;
}
form{
    width: 80%;
    display:flex;
    position: relative;
    padding-left: 10%;
    flex-direction: column;
    justify-content:center;
    border-style:none;
}
form input  {
    color: White;
    background-color: transparent;
    border-style:none;
    height: 25px;
}
form textarea{
    color: White;
    background-color: transparent;
    border-style:none;
}
hr{
    opacity: 0.4;
}
form button{
    color: White;
    text-align: center;
    background-color: transparent;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-style:none;
    height: 25px;
}
form button:hover{
    background-color: rgb(36, 36, 36);
    color: #fff;
}






/*Animated cards*/
#text_container{
    width: 100%;
    height: 100%;
    position: relative;
    animation: container 3.5s;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    justify-content: center;
    padding: 100px;
}
.userCard{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userCard img{
    position: relative;
    transition: transform .75s;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.userCard img:hover {
    transform: scale(1.1);
    opacity: 0.4;
}
.userCard h1{
    position:absolute;
    color: white;
}
[data-anime] {
    opacity: 0;
    transform: translateY(+450px);
    transition: 1.2s;
    animation-duration: 1s;
    animation-fill-mode: both;
} 
[data-anime].animate {
    opacity: 1;
    transform: translateY(0px);
    transition: 1.2s;
    animation-duration: 1s;
    animation-fill-mode:both;
}


/*Card text*/
#aboutCard{
    position: relative;
    color: white;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 30px;
}


/*Footer division*/
footer{
    background: #00001b;
    color: #fff;
    border-top: solid 2px rgb(58, 58, 58);
    border-bottom: solid 5px rgb(65, 65, 65);
    width: 100%;
    height: 180px;
    position: relative;
    text-align: center;
    padding-top: 10px;
    animation: container 3.5s;
}





/*General menu*/
#menu{
    position: fixed;
    animation: container 3.2s;
}

/*Logo social media*/
#socialMedia img{
    width:25px;
}
#socialMedia{
    position: fixed;
    bottom: 40px;
    left: 40px;
}


/*Side logo*/
#logo{
    position: fixed;
    width: 80px;
    top: 10px;
    left: 10px;
}

/*Right Menu*/
#menuRight{
    position: fixed;
    top: 50px;
    right: 100px;
}
#menuRight a{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
#menuRight a:hover{
    background-color: #3b3b3b;
}





/*Project carousel*/
#carouselMain{
    animation: container 3.2s;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 20%;
    right: 20%;
    justify-content: center;
}
#myCarousel .carousel-inner, #myCarousel .carousel-item{
    height: 250px;
    border-radius: 20px;
}
#myCarousel .carousel-inner img, #myCarousel .carousel-item img{
    opacity: 0.4;
}
.main-btn{
    position: relative;
    margin-bottom: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: white;
}
.carousel-indicators .active{
    background-color: white;
}





/*Initial animation*/
.logoAnimation{
    width: 140%;
    height: 150%;
    position: fixed;
    left: -15%;
    top: -20%;
    background-color: black;
    animation: logo 5s;
    opacity: 0;
}
.containerAnimation img{
    position: fixed;
    top: 30%;
    left: 40%;
}

@keyframes logo{
    0%{ opacity: 1;}
    50%{opacity: 1;transform: scale(1);}
    100%{ opacity: 0;transform: scale(1.5);}
}


/*Hamburguer menu*/
.containerUser {
    animation: container 3.2s;
    max-width: 1050px;
    width: 90%;
    margin: auto;
}
  
.navbarUser {
    width: 100%;
}
  
.nav-containerUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
  
.navbarUser .menu-items {
    display: flex;
    position: fixed;
}
  
.navbarUser .nav-containerUser li {
    list-style: none;
}
  
.navbarUser .nav-containerUser a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: #070707;
    padding: 0.7rem;
}
  
.navbarUser .nav-containerUser a:hover{
      font-weight: bolder;
}
  
.nav-containerUser {
    display: block;
    position: relative;
    height: 60px;
}
  
.nav-containerUser .checkbox {
    position: fixed;
    display: block;
    height: 100px;
    width: 100px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
  
.nav-containerUser .hamburger-lines {
    display: block;
    height: 75px;
    width: 100px;
    position: fixed;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.nav-containerUser .hamburger-lines .line {
    display: block;
    height: 8px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}
  
  .nav-containerUser .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.nav-containerUser .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.nav-containerUser .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
  
.navbarUser .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}
  
.navbarUser .menu-items li {
    margin-bottom: 3rem;
    font-weight: 500;
}
  
.logoRight{
    position: fixed;
    top: 10px;
    right: 10px;
}
  
.nav-containerUser input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
  
.nav-containerUser input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
.nav-containerUser input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
.nav-containerUser input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  
.nav-containerUser input[type="checkbox"]:checked ~ .logoRight{
    display: none;
}
.displayNone{
    animation: container 3.2s;
    display: none;
}  










/*Responsivity*/
@media only screen and (max-device-width: 500px)  {
    .displayNone{
        display: block;
    }  
    #menuRight{
        display: none;
    }
    #socialMedia img{
        display:none;
    }
    #logo{
        display:none;
    }
    .flex{
        display: block;
    }
    .contact_form{
        align-items: center;
        width: 90%;
    }
    #text_container{
        left: 0;
    }
    #grid{
        display: block;
        position: relative;
        padding-left: 25%;

    }
    .userCard{
        width: 80%;
        margin-top: 20px;
        border-radius: 10px;
    }
    #carouselMain{
        width: 80%;
        left: 10%;
    }
    .contact_text{
        font-size: 1.5em;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px;
    }
    .middleCenterName{
        top: 50%;
    }
    .bottomCenterName{
        top: 55%;
    }     
}